body{
  background-color: #d4f3ef;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  overflow-x:  hidden;
}

h1{
  font-size: 5.625rem;
  font-family: 'Satisfy', cursive;
  text-align: center;
  /* font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive; */
}

h2{
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  text-align: center;
}
h3{
  font-family: 'Lobster', cursive;
  color: #66BFBF;
}
p{
  line-height: 2;
}
hr{
  border: dotted #b1b493 2px;
  border-bottom: none;
  margin: 100px auto;
  width: 15%
}
a{
  font-family:  'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
  text-decoration: none;
}

.name{
  position: absolute;
  top: 100px;
  left: 200px;
  padding:10px;
  font-size: 6.625rem;
  z-index: 1;
  background: linear-gradient(#c1e5e5 50%, #66bfbf 50%);
 -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #f88f01;
}


@media handheld, only screen and (max-width: 767px) {
  .name {
  width: 600px;
  top: 150px;
  left: 15%;
  padding: 0;
  margin: 0px;
}
}
.top-container{
  background-color: #9dad7f;
  position: relative;
  padding-top: 17rem;
  padding-bottom: 0.1rem;

}
.middle-container{
  background-color: #92817a;
  padding-bottom: 10%;
}
.bottom-container{
  background-color: #463333;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4%;
}
.skill-row{
  width: 50%;
  margin: 100px auto 0px auto;
  text-align: left;
  padding-bottom: 100px;
  padding-top: 100px;
}

.container-fluid {
  padding:20px;
}
.container{
  background-color:#9dad7f;
  padding:20px;  

 }
#title{
  font-family: 'Lobster', cursive;
  //Trying to Center
  font-weight: normal;
  text-align: center;
}

.skills-list{
  left:40px;
  width: 50%;
  margin: auto;
}


.copyright{
  color: #EAF6F6;
  font-size: 0.9rem;
  padding: 20px 0;
}
.image-1{
  width: 30%;
  float:left;
  margin-right: 20px;
  border-radius: 20%;

}
.image-2{
  width: 30%;
  float:left;
  margin-right: 20px;
  border-radius: 20%;

}

.image-4{
  width: 40%;
  float:left;
  margin-right: 20px;
  border-radius: 20%;
}
.image-5{
  width: 40%;
  float:left;
  margin-right: 20px;
  border-radius: 20%;
}

.footer-link:hover{
  color: #900d0d;
  font-weight: bold;
  text-decoration: none;
}



.switch{
  align-self: flex-end;
  margin: 0.94rem;
}
.inner-switch{
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.32rem;
  background-color: #66BFBF;
}

.dark,
.dark *{
  background-color: #222;
  color: #e6e6e6;
  border-color: #e6e6e6;
}
.switch{
  position: absolute;
  margin: 0;
  top: 30px;
  left: 4%;
  z-index: 1;
  border-radius: 100%;
  font-weight: bold;
}
.inner-switch:hover{
  background-color: #687466;
}
